@import './base/mixins.scss';

@import './base/fonts.scss';
@import './base/colours.scss';
@import './base/animations.scss';
@import './base/image.scss';

@import './components/navigation_bar';
@import './components/landingScreen.scss';
@import './components/resumeScreen.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;

    @include screen-sm {
        font-size: 12px; // Base font size for mobile
    }
}

body {
    padding-top: 12rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $colour-background;

    @include screen-sm {
        padding-top: 6rem;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    overflow-wrap: break-word;
    @extend .dm-sans-regular;
    font-size: 1.2rem;
}

#root,
#__next {
    isolation: isolate;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.screen {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2.5rem;
}



@media print {
    body {
        background-color: white !important;
        color: black !important;
        font-family: 'Times New Roman', Times, serif !important;
    }
}

.button {
    background-color: $color-font-primary;
    color: $color-font-primary-lighter;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    width: max-content;

    @extend .dm-mono-regular;

    &:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }

    &:active {
        transform: scale(1);
        transition: all 0.2s ease-in-out;
    }
}


.footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: $color-font-primary-dark;
    color: $color-font-primary-lighter;
    height: 80vh;

    @include screen-sm {
        padding: 2.5rem;
    }

    & a {
        color: $color-font-primary-lighter;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-font-primary-dark;
            text-decoration: underline;
        }
    }

    & p {
        color: $color-font-primary-lighter;
        @extend .dm-mono-regular;

    }

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 15rem 0;

        @include screen-sm {
            padding: 5rem 0;
        }
    }
}

@media print {
    .footer {
        display: none !important;
    }
}


@media print {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    button {
        color: black !important;
    }

    svg {
        fill: black !important;
    }

}

@media print {
    @page {
        margin: 0;
        size: A4;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    // .resume {
    //     &-container {
    //         padding: 1cm;
    //         width: 100vw;
    //         height: 100vh;
    //         margin: 0;
    //         display: grid;
    //         grid-template-columns: 30% 70%;
    //         //gap: 2rem;
    //         box-sizing: border-box;
    //     }

    //     &-left-column,
    //     &-right-column {
    //         height: 100%;
    //     }

    //     &-section {
    //         break-inside: avoid;
    //         page-break-inside: avoid;
    //     }
    // }

    // Hide non-essential elements
    .navigation,
    .footer,
    .landing-intro-shortcuts {
        display: none !important;
    }

    // // Ensure proper text contrast for printing
    // p, li  {
    //     font-size: .9rem !important;
    //     font-weight: 200 !important;
    // }

    // h2 {
    //     font-size: 1.5rem !important;
    // }
}